<!doctype html>
<html lang="ja">
<head>
    <title></title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=10,user-scalable=no,initial-scale=1.0,minimal-ui">
    <base href="/">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<script src="/js/app.bundle.js"></script>
</body>
</html>